html {
    background-color: #222831;
}

h1 {
    color: white;
    text-align: right;
}

h2 {
    color: #eeeeee;
    text-align: center;
}

h3 {
    color: #eeeeee;
}

form {
    color: #eeeeee;
    text-align: center;
}
